<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-store" />
        <title>Rol Server</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    </head>
    <body>
      <ul>
          <li><a class='navLink' href="/">Home</a></li>
          <li>Partidas</li>
          <li>Personajes</li>
          <li style="float:right"><a class='navLink' href="/logout">Logout</a></li>
      </ul>

      <div class='leftIndexDiv'>

        <div id="myGames">
          <h1><b>Tus partidas</b></h1>
          {% if dict['myGames'] == []%}
          <div>No estas jugando ninguna partida ahora mismo.</div>
          {% endif %}
          {% for game, description, max_users, current_users in dict['myGames'] %}
            <div title="{{description}}">
              <span class='margin_right'>{{game}}</span>
              <span class='margin_right'>{{current_users}}/{{max_users}}</span>
              <span>
                <a href="{{ url_for('game') }}">
                  <img class='toGameButton' src='/static/img/join.svg'>
                </a>
              </span>
            </div>
          {% endfor %}
        </div>

        <p>

        <div id="createGames">
          <img style="vertical-align:middle" src="/static/img/plus.svg" height="30" width="30">
          <span> Empieza una partida ahora.</span>
        </div>

        <div id="availableGames">
          <h1><b>Partidas abiertas</b></h1>
          {% if dict['availableGames'] == []%}
          <span>No hay partidas abiertas ahora mismo</span>
          {% endif %}
          {% for game_id, game, description, max_users, current_users in dict['availableGames'] %}
            <div title="{{description}}">
              <span class='margin_right'>{{game}}</span>
              <span class='margin_right'>{{current_users}}/{{max_users}}</span>
              <span>
                <img class='joinButton' src='/static/img/join.svg' value="{{game_id}}">
              </span>
            </div>
          {% endfor %}
        </div>
      </div> <!-- left-->

      <div id='joinDiv' class='rightIndexDiv'>
          Description:
        <div id='joinDesc'><!-- Aqui va la description de la partida--></div>
          Request message:
        <form method="post" action="/joinGame">
          <input type='text'/>
          <input type="hidden" id="joinId" name='game_id'/>
          <input type="submit" value="Join" />
        </form>

      </div>

      <div id='createDiv' class='rightIndexDiv'>
        <form method="post" action="/newGame">
          <label>Name:</label>
          <input type='text' name='game_name'/> <br />
          <label>Description:</label>
          <input type='text' name='game_desc'/> <br />
          <label>Maximun users:</label>
          <input type='number' name='max_users'/> <br />
          <label>Private:</label>
          <input type='number' name='private'/> <br />

          <input type="submit" value="Create" />
        </form>

      </div>

    <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
    </body>
</html>
