<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-store" />
        <title>Rol Server</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    </head>
    <body>
      <ul>
          <li><a class='navLink' href="/">Home</a></li>
          <li>Partidas</li>
          <li>Personajes</li>
          <li style="float:right"><a class='navLink' href="/logout">Logout</a></li>
      </ul>
      <div>
        {% for user in users%}
        <a class='pjLink' href={{'/get_user/'+user}} >{{user}}</a>
        {% endfor %}
      </div>
      <div>
        <table>
            {%for stat in dicc %}
              <tr><td><font class='statText'>{{stat}}</font></td><td><font class='statText'>{{dicc[stat]}}</font></td></tr>
            {% endfor %}
        </table>
        </div>
    </body>
</html>
