<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-store" />
        <title>Rol Server</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
        <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    </head>
    <body>
      <ul>
          <li><a class='navLink' href="/">Home</a></li>
          <li>Partidas</li>
          <li>Personajes</li>
          <li style="float:right"><a class='navLink' href="/logout">Logout</a></li>
      </ul>

      <div class='width40per left'>

        <div id="myGames">
          <h1><b>Tus partidas</b></h1>
          {% if dict['myGames'] == []%}
          <div>No estas jugando ninguna partida ahora mismo.</div>



          {% endif %}
          {% for game, description, max_users, current_users in dict['myGames'] %}
            <div title="{{description}}">
              <span class='margin_right'>{{game}}</span>
              <span class='margin_right'>{{current_users}}/{{max_users}}</span>
              <span><img src='/static/img/join.svg' width="15" height="15"></span>
            </div>
          {% endfor %}
        </div>

        <p>

        <div id="createGames">
          <img style="vertical-align:middle" src="/static/img/plus.svg" height="30" width="30">
          <span> Empieza una partida ahora.</span>
        </div>

        <div id="availableGames">
          <h1><b>Partidas abiertas</b></h1>
          {% if dict['availableGames'] == []%}
          <span>No hay partidas abiertas ahora mismo</span>
          {% endif %}
          {% for game_id, game, description, max_users, current_users in dict['availableGames'] %}
            <div title="{{description}}">
              <span class='margin_right'>{{game}}</span>
              <span class='margin_right'>{{current_users}}/{{max_users}}</span>
              <span>
                <!--<form>
                  <input type="hidden">{{game_id}}</input>
                  <input type="submit" value='/static/img/join.svg'>
                    <img src='/static/img/join.svg' width="15" height="15">
                  </input>
                </form>-->
                <a href="{{url_for('joinGame', game_id=game_id)}}"><img src='/static/img/join.svg' width="15" height="15"></a>
              </span>
            </div>
          {% endfor %}
        </div>
      </div> <!-- left-->

      <!--  descomentar para hacer invisible y quitar el div de abajo <div class='width60per right nodisplay'>-->
      <div class='width60per right '>
        <img img src='/static/img/join.svg' width="50" height="50" />
        aqui esta el div oculto para la creacion de pjs and shit
      </div>
    </body>
</html>
